# Read SpaceX Launch Data from https://api.spacexdata.com/v4

Documentation of the SpaceX API can be found @ https://github.com/r-spacex/SpaceX-API/tree/master/docs

In [ ]:
import requests

# Pick a dataset and the appropriate url (will require url+"<data>" in other calls to pull specific data)
url = "https://api.spacexdata.com/v4/"
# Get launch data
launches = requests.get(url+"launches").json()
# Get payload data
payloads = requests.get(url+"payloads").json()
# Get rockets data
rockets = requests.get(url+"rockets").json()

In [ ]:
print(f"There are {len(launches)} launches")
print(f"There are {len(payloads)} payloads")
print(f"There are {len(rockets)} rockets")

In [ ]:
for launch in launches:
  print(launch.get('name'), launch.get("id"), launch.get('date_utc'), launch.get("rocket"))

In [ ]:
for rocket in rockets:
  print(rocket.get("name"), rocket.get("id"), rocket.get("type"), rocket.get("cost_per_launch"))

In [ ]:
for payload in payloads:
  print(payload.get("name"), payload.get("id"), payload.get("type"), payload.get("launch"))

In [62]:
import sqlite3

# Create a connection (this creates spacex.db in your current Colab environment)
conn = sqlite3.connect("spacex.db")

# Create a cursor
cur = conn.cursor()

schema = """
CREATE TABLE IF NOT EXISTS rockets (
    id TEXT PRIMARY KEY,
    name TEXT,
    type TEXT,
    cost_per_launch INTEGER
);

CREATE TABLE IF NOT EXISTS launches (
    id TEXT PRIMARY KEY,
    name TEXT,
    date_utc TEXT,
    rocket_id TEXT,
    FOREIGN KEY (rocket_id) REFERENCES rockets(id)
);

CREATE TABLE IF NOT EXISTS payloads (
    id TEXT PRIMARY KEY,
    name TEXT,
    type TEXT,
    mass_kg REAL
);
"""

cur.executescript(schema)
conn.commit()
print("Database schema created!")

Database schema created!

In [63]:
import pandas as pd

df = pd.read_sql_query("SELECT * FROM rockets LIMIT 5;", conn)
df

Empty DataFrame
Columns: [id, name, type, cost_per_launch]
Index: []